streamlit==1.51.0
langchain==0.2.13
langchain-core==0.2.36
langchain-community==0.2.12
langchain-openai==1.0.2
langchain-groq==0.1.6
langchain-huggingface==1.0.0
duckduckgo-search==6.2.3
python-dotenv==1.0.1
pypdf
bs4
arxiv
pymupdf
wikipedia
chromadb
sentence-transformers
faiss-cpu
duckdb
pandas
openai
