langchain-openai
streamlit==1.51.0
langchain==0.0.340
langchain-community==0.0.23
langchain-groq==0.0.3
python-dotenv==1.0.1
langchain_core
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence_transformers
langchain-huggingface
faiss-cpu
langchain-chroma
duckdb
pandas
openai
arxiv
wikipedia
