langchain-openai
streamlit==1.51.0
langchain==0.2.11
langchain-community==0.2.11
langchain-groq==0.0.3
python-dotenv==1.0.1
duckduckgo-search==6.1.0
langchain_core
ipykernel
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
chromadb
sentence_transformers
langchain-huggingface
faiss-cpu
langchain-chroma
duckdb
pandas
openai
arxiv
wikipedia
